.footer {
    padding-top: 40px;
    padding-bottom: 50px;
    border-top: 2px solid #A93B59;
}

.footer-box {
    display: flex;
    justify-content: space-around;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-link {
    color: var(--additional-accent);
font-size: 20px;
font-weight: 400;
line-height: 1.25;
font-variant: small-caps;
transition: color 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer-item:hover  .footer-link:hover {
    color: #A93B59;
}

.social-list {
    display: flex;
    gap: 46px;
    align-items: center;
    margin-top: 32px;
}

.social-img {
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social-img:hover{
    transform: scale(1.5) rotate(45deg);
}

.footer-logo {
    color: var(--additional-accent);
text-align: center;
font-family: "Spline Sans", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 1.14;
text-transform: uppercase;
display: flex;
flex-direction: column-reverse;
align-items: center;
}

.footer-img {
    width: 88px;
height: 84px;
fill: white;
}

.address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.address-link {
    color: var(--text-color);
/* text-align: center; */
font-size: 24px;
font-weight: 400;
line-height: 1.25;
text-transform: capitalize;
}

.address-text {
    color: var(--text-color);
font-size: 20px;
font-weight: 400;
line-height: 1.25;
}